font-family: "Merriweather", serif;
font-family: "Inter", sans-serif;


.body{
    width: 1320px;
}
.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.red-color{
  color: #FF0000;
}
/* .nav-main{
 display: flex;
} */
.nav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

}
.nav-title{
  font-family: "Merriweather", serif;
  font-weight:normal;
  font-size: 32px;
  color: black;
  margin: 0% 0%;
}
.nav-title-p{
  font-family: "Merriweather", serif;
  font-weight: bold;
  font-size: 72px;
  color: black;
  margin: 0% 0%;
}
.nav-img{

}


.offer-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.offer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.offer-off{
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 88px;
  color: #FF0000;
}
.offer-deal{
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 24px;
  color: #FF0000;
  margin: 0 0;
}
.offer-catalog{
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 48px;
  color: black;
  
  margin:0 0;
}
.party{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.party > img {


}
.party-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.party-content > h1{
  font-family: "Merriweather", serif;
  font-weight: bold;
  font-size: 64px;
  color: white;
}

.party-content > p {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: #FFFFFF80;
}


.place-main{
  width: 1320px;
  height: 482px;
  background-color: #FF000010;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.place-contain{

  display: flex;
  flex-direction: column;
  align-items: center;

}
.place-text >p{
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #070211;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}


.place-contain> button {
  background-color: #FF0000;
  width: 167px;
  height: 56px;

  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: white;
  border-radius: 8px; 
  border-style: none;
  margin-top: 30px;
}

.portfolio-main{
  width: 1320px;
  margin-bottom: 20px;
}


.portfolio-main > h3{
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #FF0000;
}
.portfolio-main > h1{
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-size: 48px;
  color: #070211;
}
.portfolio-main >p{
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #07021160; 
}
.portfolio-img{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.newslatter{
  width: 1320px;
  height: 616px;
  background-color: #FF000010;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;



}
.newslatter > h1{
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-size: 48px;
  color: #070211;
}
.newslatter > p{
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #07021160; 
}
.subscribe{
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}
.subscribe > input{
  width: 438px;
  height: 72px;
  border-style: none;
  border-top-left-radius: 9999px;
border-bottom-left-radius: 9999px;
}
.subscribe > button{
  width: 210px;
  height: 72px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
  background-color: #FF0000;
  border-style: none;
  border-top-right-radius: 9999px;
border-bottom-right-radius: 9999px;
}