font-family: "Merriweather", serif;
font-family: "Inter", sans-serif;


body{
 
}
/* .nav-main{
 display: flex;
} */
.nav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.nav-title{
  font-family: "Merriweather", serif;
  font-weight:normal;
  font-size: 32px;
  color: black;
  margin: 0% 0%;
}
.nav-title-p{
  font-family: "Merriweather", serif;
  font-weight: bold;
  font-size: 72px;
  color: black;
  margin: 0% 0%;
}
.nav-img{

}


.offer-main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.offer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.offer-off{
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 88px;
  color: #FF0000;
}
.offer-deal{
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 24px;
  color: #FF0000;
  margin: 0 0;
}
.offer-catalog{
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 48px;
  color: black;
  
  margin:0 0;
}